body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .Topbar {
    background-color: #0f4d8f;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Topbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    border-right: 1px solid white;
    transition: color 0.6s;
  }

  .Topbar a:hover {
    color: #ffeb3b;
  }

  .Topbar a:last-child {
    border-right: none;
  }

  .Midbar {
    background-color: grey;
  }

  nav.downbar {
    background-color: #0f4c8d;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .downbar .nav-item {
    display: inline-block;
    margin-right: 20px;
  }

  .downbar .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
  }

  .downbar .nav-item a:hover {
    color: #c4d61c;
  }

  .logo-bar {
    background-color: #125cac;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }

  .logo-bar img {
    height: 100px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .logo-bar img:hover {
    opacity: 0.6;
  }

    .Midbar {
    background-color: #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    gap: 20px;
  }

  .Midbar p {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    font-weight: italic;
  }



  .Contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }


  .paragraph {
    flex: 1;
    text-align: left;
  }

  .paragraph p {
    border: 1px solid #dcdbdb;
    padding: 15px;
    border-radius: 5px;
  }


  .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 30px;
    margin-top: 10px;
  }

  .links a {
    border: 2px solid #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
  }

  .links a:hover {
    background-color: #007bff;
    color: white;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
  }


  .left-section {
    max-width: 700px;
    padding-left: 40px;
    flex: 2;
  }

  .left-section p {
    margin-bottom: 20px;
  }